<section class="intro">
  <div class="container">
    <p><img style="margin-right: 20px; float: left;" src="../assets/images/front_image.png" alt="Front image" width="226" height="249"/></p>
    <p style="margin-top: 20px;"></p>
    <p class="lead">Hi, my name is Xavier I live in Brisbane, Australia. I spend most of my time learning. <a href="https://maxkelsen.com/">Max Kelsen</a> let me work on interesting problems and I am starting my Ph.D soon...</p>
    <p style="margin-bottom: 50px;"></p>
  </div>
</section>
