<section class="intro">
  <div class="container">
    <p><img style="margin-bottom: 30px; float: left;" src="../assets/images/banner3.png" alt="Front image" width="1467" height="170"/></p>
    <p style="margin-top: 40px;"></p>
    <p class="lead">
      Hi, my name is Xavier I am a mathematical physicist living in Helsinki, Finland. I am currently a postdoc at <a href="https://www.aalto.fi/en">Aalto University</a> working in the group of <a href="https://eveliinapeltola.webnode.fi/">Eveliina Peltola</a>. 
      
      <br><br>
      
      My main area of interest is the study of algebraic structures underlying models of two-dimensional statistical mechanics, particularly planar algebras, subfactors, and their connections to integrable systems, knot theory, and quantum field theories.
      
      <!-- <br><br>
    
    <h1>Updates:</h1>

    <ul>
        <li> I am currently working on a project to construct continuous representations of Thompson's groups via <a href="https://doi.org/10.48550/arXiv.1607.08769">Jones' action</a>. <br></li>
        <li> See my most recent research output "<a href="https://doi.org/10.48550/arXiv.2206.14462">Integrability of planar-algebraic models</a>", completed with <a href="https://smp.uq.edu.au/profile/11590/jorgen-rasmussen">Jørgen Rasmussen</a>. In this work, we develop a general framework that associates a statistical mechanical model
              to each planar algebra, we present sufficient conditions implying that such a model is integrable and we show that, under very mild conditions, integrable models of this kind give rise
            to a <em>single</em> integral of motion. </li>
      </ul> -->


    </p>
    <p style="margin-bottom: 50px;"></p>
  </div>
</section>
