<section class="intro">
  <div class="container">
    <p><img style="margin-right: 30px; float: left;" src="../assets/images/banner.png" alt="Front image" width="500" height="301"/></p>
    <p style="margin-top: 40px;"></p>
    <p class="lead">Hi, my name is Xavier I live in Brisbane, Australia. I spend most of my time learning. My main area of interest is mathematical physics
      - the field in which I am completing a PhD. Other research interest include genomics, quantum control and machine learning, at <a href="https://maxkelsen.com/">Max Kelsen</a>
      we use the latter to attack the first two.
    
    As my work progresses in these areas I hope to communicate it here!
    </p>
    <p style="margin-bottom: 50px;"></p>
  </div>
</section>
